
@{
    ViewBag.Title = "Quản lý bình luận";
}

<form action="#">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Nhập giá trị cần tìm...">
        <span class="input-group-btn">
            <button class="btn btn-info btn-flat">Tìm kiếm</button>
            <a href="~/Comment/Create" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i> Bổ sung
            </a>
        </span>
    </div>
</form>

<div class="row">
    <div class="col-md-12" style="padding: 1em">
        Có tất cả 100 bình luận. Bạn đang ở trang 1 trên tổng số 10 trang.
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                <th>Thời gian đăng</th>
                <th>Nội dung</th>
                <th>Hiển thị</th>
                <th>Người đăng</th>
                <th>Bài đăng</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 8; i++)
            {
            <tr>
                <td>30/09/2022</td>
                <td>Tin chuẩn chưa anh?</td>
                <td><input type="checkbox" name="isHidden"></td>
                <td>Nguyễn Nhật Huy</td>
                <td>VTV phốt Chi Pu</td>
                <td class="text-right">
                    <a href="~/Comment/Edit" class="btn btn-xs btn-primary">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a href="~/Comment/Delete" class="btn btn-xs btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div>
</div>