@model SV19T1081011.UserInterface.Models.UserInterfaceOutput
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="~/" class="logo d-flex align-items-center">
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>Akira Corporation</h1>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                @foreach (var item in Model.Categories)
                {
                    <li><a href="~/@item.CategoryUrlName">@item.CategoryName</a></li>
                }
            </ul>
        </nav><!-- .navbar -->

        <div class="position-relative">
            @if (Model.Category != null)
            {
                <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
            }
            else
            {
                var userData = User.GetUserData();
                if (userData != null)
                {
                    <span>Xin chào @userData.FullName</span>
                }
            }
            <i class="bi bi-list mobile-nav-toggle"></i>

            <!-- ======= Search Form ======= -->
            <div class="search-form-wrap js-search-form-wrap">
                <form action="search-result.html" class="search-form">
                    <input type="text" placeholder="Tìm kiếm..." class="form-control">
                    <button class="btn js-search-close"><span class="bi-x"></span></button>
                    <span class="icon bi-search"></span>
                </form>
            </div><!-- End Search Form -->
        </div>

    </div>

</header>
