@model SV19T1081011.AdminTool.Models.PaginationSearchInput
@{
    ViewBag.Title = "Quản lý phân loại tin";
}

<form id="formSearch" action="~/Category/Search" onsubmit="return false;">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        @Html.TextBoxFor(m => m.SearchValue,
                        new
                             {
                            @class = "form-control",
                            @placeholder = "Nhập giá trị cần tìm...",
                            @autofocus = "autofocus"
                        })
        @Html.HiddenFor(m => m.PageSize)

        @*<input name="searchValue" type="text" class="form-control" placeholder="Nhập giá trị cần tìm..." autofocus="autofocus">*@
        <span class="input-group-btn">
            <button id="buttonSearch" class="btn btn-info btn-flat">Tìm kiếm</button>
            <a href="~/Category/Create" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i> Bổ sung
            </a>
        </span>
    </div>
</form>

<div id="searchResult">

</div>

@section scripts {
    <script src="~/Scripts/site.js"></script>
    <script>
        $(document).ready(function () {
            $("#buttonSearch").click(function () {
                paginationSearch(1);
            })
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                paginationSearch(1);
                return false;
            });
            paginationSearch(@Model.Page);
        })

        function changeOrder(id, moveUp, page) {
            $.ajax({
                url: "/Category/ChangeOrder/" + id + "?moveUp=" + moveUp,
                type: "POST",
                async: false,
                eror: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    paginationSearch(page);
                }
            })
        }
    </script>
}