<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="">
                <a href="~/">
                    <i class="fa fa-dashboard"></i> <span>Trang chủ</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Quản lý nội dung</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Category"><i class="fa fa-circle-o"></i> Phân loại</a></li>
                    <li><a href="~/Post"><i class="fa fa-circle-o"></i> Bài viết</a></li>
                    <li><a href="~/Comment"><i class="fa fa-circle-o"></i> Bình luận</a></li>
                </ul>
            </li>
            <li class="">
                <a href="~/UserAccount">
                    <i class="fa fa-user"></i>
                    <span>Quản lý tài khoản</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
